h1 {
    background-color: #ffebcd;
    text-align: center;
}

h3 {
    background-color: #ffebcd;
    text-align: center;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

nav ul li {
    display: inline; 
}

nav ul li a {
    text-decoration: none; 
    color: black; 
    padding: 10px 20px; 
    background-color: blanchedalmond;
    border-radius: 50px;
}

nav ul li a:hover {
    background-color: rgb(58, 35, 0); 
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #ebbc95;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    flex-wrap: wrap; 
}

.card {
    background-color: rgb(12, 12, 12); 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    width: 1000px; 
    height: 400px; 
    display: flex; 
    flex-direction: column;
    color: aliceblue; 
}

.card img {
    width: 100%; 
    height: auto;  
    max-height: 250px; 
    object-fit: cover;
}

.card-content {
    padding: 15px; 
}

.card-content p {
    margin: 0; 
}

.boton {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #050505; 
    color: white; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-decoration: none;
}

.boton:hover {
    transform: scale(1.05); /* Cambié el valor a 1.05 para un efecto más sutil */
}


.carta{
    display: inline-block;
    background-color: blanchedalmond; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    width: 500px; 
    height: 200px;  
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    text-align:center;
    margin: 50px;
}


.quien{
    display: flex;
    width: 1000px;
    height: 600px;
    margin-left: 450px;
 }
.subir {
 
    position: fixed;
    bottom: 20px;   
    right: 20px;     
    z-index: 1000;   

    /* Estilo de círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    

    background-color: #f3af78; 
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
}


.subir:hover {
    background-color: #f39b28;
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
 
.fuente{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

